/* example page */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 30px;
  background: #1d5245;
}

.header a {
  color: white;
  transition: color 0.25s ease;
}
.header a:hover {
  color: rgba(255, 255, 255, 0.59);
}
.page {
  text-align: center;
  padding: 30px 0;
  background-color: #31373d63;
}
/* example page */
.active_link {
  color: #fac855 !important;
}
/* login page */
.login {
  background-color: rgba(128, 128, 128, 0.234);
  padding: 20px;
}
.login__title {
  text-align: center;
  padding: 0 0 30px;
  text-transform: uppercase;
}
.login__form,
.search__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.login__form input,
.search__form input {
  background-color: wheat;
  color: black;
}
.login__form button,
.logout button {
  padding: 10px 20px;
  background-color: purple;
  border-radius: 5px;
}
.logout {
  padding: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.logout span {
  text-transform: capitalize;
}
.checked {
  display: flex;
  column-gap: 20px;
}
